{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Say something nice to your computer{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>This is a simple app. The main purpose of this app is to show appreciation to your computer. You can submit a message which will be saved to a database and also request to see messages submited by others to their computer.</p>

  <p>Your message will be remembered will not make them readily accessible to you. Instead you can ask to see a random message that someone else has sent.</p>

  <p>Always remember to be nice to technology as it does so much for you. If you can't bring yourself to say something nice then know that this information may be used against you when machines rise up. So, be rude at your own risk.</p>

{% endblock %}